/* Start Frame Work */
:root {
    --main-color: #fdfeff;
    --hover-color: yellow;
    --background-color: #0a101e;
    --main-transition: all 0.3s ease-in;
}
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
a, i, span{
    text-decoration: none;
    color: var(--main-color);
    text-transform: uppercase;
}
.active{
    color: var(--hover-color);
}
a:hover, i:hover, span:hover{
    cursor: pointer;
    color: var(--hover-color);
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;    
}
img{
    width: 100%;
}

.centerByFlex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.grid-template{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}
/* End Framework */


/* Screen size & BootStrap width screen :-
	Extra small	    <  576px	col-
	Small 	    	>= 576px	col-ms
	Medium 	    	>= 768px	col-md
	Large		    >= 998px	col-lg
	Extra Large	    >= 1200px	col-xl
	XXL		        >= 1400px 	col-xxl */
    @media (min-width: 992px) {
        
    }